{% extends 'base.html' %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container black-bg mx-auto">
        <h2 class="orange-text">Welcome to our book rental Website!</h2>
        <p class="orange-text">Feel free to explore our book collection, <br> make reservations and visit our store to collect them.</p>
    </div>
    <div class="d-flex justify-content-center align-items-center pt-5">
        <a href="{% url 'book_list' %}" class="btn  orange-color">View Books</a>
    </div>
{% endblock %}
