{% extends 'base.html' %}
{% block content %}
    <h1>All Reservations</h1>
    <ul class="list-group">
        {% for reservation in reservations %}
            <li class="list-group-item">
                {{ reservation.book.title }} - {{ reservation.start_date }} to {{ reservation.end_date }}
                - {% if reservation.is_checked_out %}Checked Out{% else %}Not Checked Out{% endif %}
            </li>
        {% empty %}
            <li class="list-group-item">You have no reservations.</li>
        {% endfor %}
    </ul>
{% endblock %}