{% extends 'base.html' %}
{% block content %}
    <div class="container header-container ">
        <div class="black-bg rounded p-5">
            <div>     
            <h3 class="orange-text m-2">{{ book.title }}</h3>
            <p class="orange-text">{{ book.description }}</p><br>
            <p class="mb-3 orange-text">By: {{ book.author }}</p>
            </div> 
            <div class="mt-3 mb-5">
                <a class="btn orange-color mb-3" href="{% url 'reserve_book' pk=book.pk %}">Reserve Book</a>
            </div>
        </div>
    </div>
{% endblock %}