{% extends 'base.html' %}
{% block content %}
    <div class="container header-container ">
        <div class="black-bg rounded p-5">
            <div class="container-md mx-auto">     
                <h1 class="orange-text m-2">Book Unavailable</h1>
                <p class="orange-text">Sorry, the book "{{ book.title }}" is not available for the selected dates.</p>
                <a class="btn orange-color mb-3" href="{% url 'book_detail' pk=book.pk %}">Back to Book Details</a>
            </div> 
        </div>
    </div>
{% endblock %}