{% extends 'base.html' %}
{% block content %}
<div class="container header-container ">
    <div class="black-bg rounded p-5">
        <h3 class="orange-text">Cancel Reservation</h3>
        <p class="orange-text">Are you sure you want to cancel the reservation for "{{ reservation.book.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mr-2 mb-2">Yes, Cancel</button>
            <a href="{% url 'user_reservations' %}" class="btn btn-secondary orange-color mb-2">No, Go Back</a>
        </form>
    </div>
</div>
{% endblock %}