{% extends 'base.html' %}
{% block content %}
    <h1>Edit Reservation</h1>
    <form method="post">
        {% csrf_token %}
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" value="{{ reservation.start_date }}" required>
        <br>
        <label for="end_date">End Date:</label>
        <input type="date" name="end_date" value="{{ reservation.end_date }}" required>
        <br>
        <button type="submit" class="btn btn-primary">Update Reservation</button>
    </form>
{% endblock %}