{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/396b0aad36.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <title>The Book Shelf </title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div  class="row nav-color pt-2 ">
            <div class="col-12 col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font nav-text my-0">The <strong>Book</strong> Shelf</h2>
                </a>
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-right">
                <ul class="list-inline list-unstyled my-0">
                    <li class="list-inline-item dropdown">
                        <a class="nav-text nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0 nav-color" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'account_logout' %}" class="nav-text orange-text">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="nav-text orange-text">Register</a>
                                <a href="{% url 'account_login' %}" class="nav-text orange-text">Login</a>
                            {% endif %}
                        </div>
                    </li>                 
                </ul>
            </div>
        </div>   
    </header>
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <footer class="text-center text-lg-start orange-text footer-bg mt-5">
        <section class="pt-3">
            <div class="container text-center text-md-start mt-5 footer-bg">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">The Book Shelf</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto " />
                        <p>
                            Welcome to The Book Shelf, your premier destination for hassle-free book rentals in Dublin!
                            Discover a vast collection of titles, reserve your favorites online, and collect your books 
                            conveniently at our designated location. Embark on an exciting literary journey with us!
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Reservations</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" />
                        <p>
                            <a href="{% url 'all_reservations' %}" class="orange-text nav-text">View Reservations</a>
                        </p>
                        <p>
                            <a href="{% url 'book_list' %}" class="orange-text nav-text">View Our Books</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" />
                        <p>
                            <a href="{% url 'account_login' %}" class="orange-text nav-text">Log In</a>
                        </p>
                        <p>
                            <a href="{% url 'account_logout' %}" class="orange-text nav-text">Log Out</a>
                        </p>
                        <p>
                            <a href="{% url 'home' %}" class="orange-text nav-text">Home</a>
                        </p>
                    </div>
                    <div id="contact" class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" />
                        <p><i class="fas fa-home mr-3"></i> Dublin, D2 1012, Ireland</p>
                        <p><i class="fas fa-envelope mr-3"></i> info@book-shelf.com</p>
                        <p><i class="fas fa-phone mr-3 orange-text"></i> + 353 789 253 41</p>
                        <p><i class="fas fa-phone mr-3 orange-text"></i> + 353 789 253 40</p>
                    </div>
                </div>
            </div>
        </section>
       
        <section class="text-center pb-5">
            <a class="btn btn-outline-light btn-floating m-1 orange-color" href="https://www.facebook.com/" target="_blank" role="button"><i
                    class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1 orange-color" href="https://twitter.com/" target="_blank" role="button"><i
                    class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1 orange-color" href="https://www.google.com/" target="_blank" role="button"><i
                    class="fab fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1 orange-color" href="https://www.instagram.com/" target="_blank" role="button"><i
                    class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-1 orange-color" href="https://www.linkedin.com/" target="_blank" role="button"><i
                    class="fab fa-linkedin-in"></i></a>
        </section>
    </footer>
    <!-- Footer -->

    {% block postloadjs %}
    {% endblock %}
  </body>
</html>